@mixin transform($value) {
  -moz-transform: $value;
  -o-transform: $value;
  -webkit-transform: $value;
  transform: $value;
}

$color1: #363237;
$color2: #2D4262;
$color3: #73605B;
$color4: #D09683;

.App {
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    background-color: $color3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#quote-block {
    display: flex;
    flex-direction: column;
    background-color: $color2;
    border-radius: 5px;
    width: 450px;
    min-height: 180px;
    padding: 30px 40px 20px;
    margin-bottom: 25px;
}

.quote-icon-magnify {
    font-size: 1.6em;
}

.invertX {
    @include transform(scaleX(-1));
}

#text {
    font-size: 1.5em;
    line-height: 1.6em;
    color: white;
    margin-bottom: 20px;
    font-style: italic;
    font-family: 'Montserrat', sans-serif;
}

#author {
    font-size: 1.5em;
    font-weight: 600;
    color: $color4;
    text-align: right;
}

@keyframes levitate {
    from {
        bottom: -4px;
    }

    to {
        bottom: 0;
    }
}

#enlighter {
    background-color: $color2;
    border: 1px solid $color3;
    border-radius: 5px;
    padding: 10px 15px;
    color: white;
    font-size: 1.2em;
    letter-spacing: 1px;
    cursor: pointer;
    position: relative;

    .material-icons-round {
        position: relative;
        bottom: -4px;
    }

    &:hover .material-icons-round {
        animation-name: levitate;
        animation-delay: 300ms;
        animation-duration: 500ms;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }

    &:active {
        border: 1px solid $color2;
    }
}
